/* Global styles. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #000;
  /* Montserrat Google font plus standard sans-serif system fonts. */
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  margin: 0;
  /* Offset the height of the navbar. */
  padding-top: 63px;
  padding-bottom: 63px;
}

/* Typography styles. */
.title {
  font-size: 1.5rem;
  margin: 0;
}

.subtitle {
  color: #808080;
  font-size: 1.125rem;
  margin: 1rem 0 0 0;
}

/* Layout styles. */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.grid {
  display: grid;
  /* Single column layout that fills the entire row. */
  grid-template-columns: 1fr;
}

/* Navbar styles. */
.navbar {
  align-items: center;
  background-color: #2d3945;
  display: flex;
  height: 63px;
  justify-content: center;
  padding: 1rem 30px;
  position: fixed;
  /* Fix the navbar to the top of the document. */
  top: 0;
  width: 100%;
  /* Z-index doesn't have to be a huge number, just greater than any other indices. */
  z-index: 1;
}

.navbar-name {
  color: #fafafa;
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  /* Never wrap the name, even if the screen is tiny. */
  white-space: nowrap;
}

/* Header styles. */
.header {
  border-bottom: 4px solid #2d3945;
  margin-bottom: 2px;
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

/* Form styles. */
.form {
  margin-bottom: 2rem;
}

/* Reset default fieldset styles. */
.fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.fieldset-wrapper {
  /* Styling a fieldset with a legend can be tricky, so wrap it in a div. */
  border-top: 2px solid #2d3945;
  margin-bottom: 1.25rem;
  padding-top: 2rem;
}

.fieldset p {
  font-weight: 500;
}

.legend {
  font-family: Merriweather, serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding: 0;
}

.legend+p {
  margin: 0 0 1rem 0;
}

.label {
  color: #808080;
  /* Not using grid gap as we want differing vertical whitespace for labels and inputs. */
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.label-hidden {
  /* Visually hidden label that still works with screen readers (derived from Bootstrap). */
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input[type='text'],
.input[type='email'],
.input[type='tel'],
.textarea,
.select {
  color: #2d3945;
  background-color: #eff0f1;
  border: 2px solid #eff0f1;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 3rem;
  margin: 0 0 0.75rem 0;
  padding: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active,
.select:focus,
.select:active {
  border: 2px solid #2d3945;
  outline: none;
}

.input:focus:invalid,
.input:active:invalid {
  background-color: #ffc0cb;
}

.input:invalid:not(:focus) {
  /* We'll style the invalid border using JavaScript. */
  border: none;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/arrow.svg");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 8px 10px;
}

.textarea {
  width: 100%;
  height: 6rem;
}

/* You can't style a checkbox directly, so we have to wrap it in a container that we can style. */
.checkbox,
.radio {
  margin-bottom: 0.5rem;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.checkbox-input,
.radio-input {
  /* Hide the regular checkbox. */
  margin: 0;
  position: absolute;
  opacity: 0;
}

.checkbox-label,
.radio-label {
  position: relative;
}

.checkbox-label::before,
.radio-label::before {
  transition: all 0.15s ease-in-out;
  pointer-events: none;
  border: 1px solid #2d3945;
}

.checkbox-label::before,
.checkbox-label::after,
.radio-label::before,
.radio-label::after {
  display: block;
  position: absolute;
  /* Adjust top and left to move the checkbox relative to the label. */
  top: 2px;
  left: -24px;
  width: 1rem;
  height: 1rem;
  content: '';
}

.checkbox-label::after,
.radio-label::after {
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 50% 50%;
}

.checkbox-label::before {
  border-radius: 0.25rem;
}

.radio-label::before {
  border-radius: 50%;
}

.checkbox-input:checked~.checkbox-label::before,
.radio-input:checked~.radio-label::before {
  color: #fafafa;
  border-color: #2d3945;
  background-color: #2d3945;
}

.checkbox-input:checked~.checkbox-label::after {
  background-image: url("../img/check.svg");
}

.radio-input:checked~.radio-label::after {
  background-image: url("../img/circle.svg");
}

/* Firefox adds a red box shadow to invalid inputs. */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Firefox adds an outline to all focused inputs. */
:-moz-focusring {
  outline: none;
}

/* Modern versions of Chrome and Firefox support ::placeholder without a vendor prefix. */
::placeholder {
  font-family: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-style: italic;
  text-align: right;
}

/* Button styles. */
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  background-color: #4ebbb5;
  border: 1px solid #4ebbb5;
  border-radius: 0.25rem;
  color: #fafafa;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  /* The 1.5 line-height combined with 0.5rem vertical padding gets us to a 3rem height. */
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.button:hover {
  border-color: #2d3945;
  background-color: #2d3945;
}

/* Footer styles. */
.footer {
  color: #808080;
  font-style: italic;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    /* The form in the mocks is never greater than 600px (660 with padding) wide. */
    max-width: 660px;
  }

  .grid {
    /* The label column will be 150px, and the inputs will fill the rest of the row. */
    grid-template-columns: 150px 1fr;
  }

  .fieldset-wrapper {
    margin-bottom: 1rem;
  }

  .label {
    align-self: center;
  }

  .label,
  .input,
  .select {
    margin-bottom: 1rem;
  }
}
