// Fonts.
$serif: Merriweather, serif;

$sans-serif: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

// Colors.
$white: #fafafa;
$gray: #808080;
$zircon-gray: #eff0f1;
$black: #000;
$pink: #ffc0cb;
$puerto-rico-green: #4ebbb5;
$licorice-blue: #2d3945;

// Breakpoints.
$tablet: 768px;
